<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="add" >    </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cantantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button *ngFor="let item of (results | async)" [routerLink]=" ['/', 'cantante', item.id]">
      <ion-label text-wrap>
        <h3>
          {{item.name}}
          {{item.username}}
          {{item.email}}
          {{item.address.city}}
          {{item.address.street}}
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>